/* App */
body {
  background-color: #f5f4f4 !important;
}

/* Navbar */
.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 50px;
  width: 50px;
}

.nav-logo h5 {
  font-size: 28px;
  font-weight: bold;
}

.navbar-collapse {
  flex-basis: 0 !important;
  flex-grow: 0 !important;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .navbar-collapse {
    flex-basis: 100% !important;
    flex-grow: 1 !important;
    align-items: center;
  }
}

.navbar .container {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
  background-color: #fff;
}

.nav-link {
  font-weight: bold;
  color: #000 !important;
  margin-right: 40px;
}

.fa-qrcode {
  padding-right: 2px;
}

.bs-light {
  background-color: #f5f4f4 !important;
}

/* Home page */
.home-image {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.entropay-banner {
  background-color: #fff;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.entropay-banner-inner {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 16px;
  padding-bottom: 16px;
}

.entropay-banner-inner span {
  color: #fff;
  font-size: 24px;
}
